.headline-innovation {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-innovation.gif") !important; background-repeat: no-repeat;
}
.headline-produkte-010012 {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-produkte-010012.gif") !important; background-repeat: no-repeat;
}
.headline-service-11883 {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-service-11883.gif") !important; background-repeat: no-repeat;
}
.headline-vorteile {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-vorteile.gif") !important; background-repeat: no-repeat;
}
.headline-technik {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-technik.gif") !important; background-repeat: no-repeat;
}
.headline-asterisk {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-asterisk.gif") !important; background-repeat: no-repeat;
}
.headline-webhosting {
	height: 40px; text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-webhosting.gif") !important; background-repeat: no-repeat;
}
.headline-entwicklung {
	height: 40px; text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-entwicklung.gif") !important; background-repeat: no-repeat;
}
.headline-ueber-010012 {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-ueber-010012.gif") !important; background-repeat: no-repeat;
}
.headline-ueber-11883 {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-ueber-11883.gif") !important; background-repeat: no-repeat;
}
.headline-ueber-protel {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-ueber-protel.gif") !important; background-repeat: no-repeat;
}
.headline-ueber-usfilm {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-ueber-usfilm.gif") !important; background-repeat: no-repeat;
}
.headline-innovationspreis {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-innovationspreis.gif") !important; background-repeat: no-repeat;
}
.headline-media-planetstudyo {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-media-planetstudyo.gif") !important; background-repeat: no-repeat;
}
.headline-ueber-fortel {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-ueber-fortel.gif") !important; background-repeat: no-repeat;
}
.headline-ueber-europaweit {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-ueber-europaweit.gif") !important; background-repeat: no-repeat;
}
.headline-erreichen {
	text-indent: -5000px; display: block; background-image: url("../../images/headlines/headline-erreichen.gif") !important; background-repeat: no-repeat;
}

