.headline-innovation {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-innovationspreis {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-produkte-010012 {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-service-11883 {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-vorteile {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-technik {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow_blue.jpg") !important;
}
.headline-asterisk {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow_blue.jpg") !important;
}
.headline-webhosting {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow_blue.jpg") !important;
}
.headline-entwicklung {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow_blue.jpg") !important;
}
.headline-ueber-010012 {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-ueber-11883 {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-ueber-protel {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-ueber-usfilm {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-media-planetstudyo {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-ueber-fortel {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-ueber-europaweit {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}
.headline-erreichen {
	text-align: left !important; text-indent: 0px !important; display: block; background-image: url("../../images/arrow.jpg") !important;
}

