.highlight-willkommen {
	height: 44px; background-image: url("../../images/headlines/highlight-willkommen.png") !important; background-repeat: no-repeat;
}
.highlight-11883 {
	height: 44px; background-image: url("../../images/headlines/highlight-11883.png") !important; background-repeat: no-repeat;
}
.highlight-010012 {
	height: 65px; background-image: url("../../images/headlines/highlight-010012.png") !important; background-repeat: no-repeat;
}
.highlight-01057 {
	height: 25px; background-image: url("../../images/headlines/highlight-01057.png") !important; background-repeat: no-repeat;
}
.highlight-wefon {
	height: 45px; background-image: url("../../images/headlines/highlight-fonus.png") !important; background-repeat: no-repeat;
}
.highlight-mega24 {
	height: 50px; background-image: url("../../images/headlines/highlight-mega-24.png") !important; background-repeat: no-repeat;
}
.highlight-datingline {
	height: 25px; background-image: url("../../images/headlines/highlight-megadate.png") !important; background-repeat: no-repeat;
}
.highlight-speedcall {
	height: 50px; background-image: url("../../images/headlines/highlight-speedcall.png") !important; background-repeat: no-repeat;
}
.highlight-tech {
	height: 44px; background-image: url("../../images/headlines/highlight-tech.png") !important; background-repeat: no-repeat;
}
.highlight-media {
	height: 45px; background-image: url("../../images/headlines/highlight-media.png") !important; background-repeat: no-repeat;
}
.highlight-references {
	height: 45px; background-image: url("../../images/headlines/highlight-references.png") !important; background-repeat: no-repeat;
}
.highlight-partner {
	height: 45px; background-image: url("../../images/headlines/highlight-partner.png") !important; background-repeat: no-repeat;
}
.highlight-international {
	height: 44px; background-image: url("../../images/headlines/highlight-international.png") !important; background-repeat: no-repeat;
}
.highlight-ueber {
	height: 44px; background-image: url("../../images/headlines/highlight-ueber.png") !important; background-repeat: no-repeat;
}
.highlight-karriere {
	height: 44px; background-image: url("../../images/headlines/highlight-karriere.png") !important; background-repeat: no-repeat;
}
.highlight-kontakt {
	height: 44px; background-image: url("../../images/headlines/highlight-kontakt.png") !important; background-repeat: no-repeat;
}
.highlight-impressum {
	height: 44px; background-image: url("../../images/headlines/highlight-impressum.png") !important; background-repeat: no-repeat;
}
.highlight-fonfox {
	height: 45px; background-image: url("../../images/headlines/fonfox_logo.png") !important; background-repeat: no-repeat;
}
.highlight-funfon {
	height: 45px; background-image: url("../../images/headlines/funfon-logo.png") !important; background-repeat: no-repeat;
}
.highlight-megabill {
	height: 45px; background-image: url("../../images/headlines/highlight-megabill.png") !important; background-repeat: no-repeat;
}
.highlight-telmy {
	height: 45px; background-image: url("../../images/headlines/highlight-telmy.png") !important; background-repeat: no-repeat;
}
.highlight-telmy-b2b {
	height: 45px; background-image: url("../../images/headlines/highlight-telmy-b2b.png") !important; background-repeat: no-repeat;
}
.highlight-campusfon {
	height: 45px; background-image: url("../../images/headlines/campusfon.png") !important; background-repeat: no-repeat;
}
.highlight-fonworld {
	height: 69px; background-image: url("../../images/headlines/highlight-fonworld.png") !important; background-repeat: no-repeat;
}

