.highlight-willkommen {
	line-height: 28px !important; text-indent: 0px !important; background-image: none !important; background-repeat: no-repeat;
}
.highlight-11883 {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-010012 {
	text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-tech {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-media {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-references {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-international {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-ueber {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-karriere {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-kontakt {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-impressum {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
h1 {
	color: rgb(255, 255, 255); line-height: 20px; font-weight: normal !important;
}
.highlight-megabill {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
.highlight-telmy {
	line-height: 28px !important; text-indent: 0px !important; display: block; background-image: none !important; background-repeat: no-repeat;
}
